# ===============================
# Node environment
# ===============================
NODE_ENV=development


# ===============================
# Database
# ===============================
MONGO_DB_URI=


# ===============================
# Server configuration
# ===============================
PORT=2707
FRONTEND_BUILD_PATH=public
LOG_DIR=./logs
LOG_FORMAT=dev


# ===============================
# Redis configuration
# ===============================
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


# ===============================
# CORS & Security
# ===============================
ORIGIN=http://localhost:3000
CREDENTIALS=false


# ===============================
# Security Keys
# ===============================
SECRET_KEY=mysecret
ACCESS_TOKEN_PRIVATE_KEY=hdsfuewufsdfhuwe
REFRESH_TOKEN_PRIVATE_KEY=hdsfuewufsdfhuwe


# ===============================
# Email Configuration
# ===============================
EMAIL_SERVICE=gmail
SENDER_MAIL=
SENDER_PASSSWORD=


# ===============================
# Client / Frontend
# ===============================
CLIENT_URL=http://localhost:3000/


# ===============================
# Company Information
# ===============================
COMPANY_NAME=EthioHope
COMPANY_ADDRESS=Dallas, TX
COMPANY_PHONE=+251900000000
COMPANY_EMAIL=contact@ethiohope.com
COMPANY_WEBSITE=https://ethiohope.com
COMPANY_FACEBOOK=https://www.facebook.com
COMPANY_INSTAGRAM=https://www.instagram.com
COMPANY_LINKEDIN=https://www.linkedin.com
COMPANY_TWITTER=https://twitter.com
COMPANY_YOUTUBE=https://www.youtube.com/@ethiohope
COMPANY_GITHUB=https://github.com/ethiohope
COMPANY_LOGO=https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png


# ===============================
# Payments
# ===============================
STRIPE_PRIVATE_KEY=
STRIPE_WEBHOOK_SECRET=


# ===============================
# External Services
# ===============================
EXCHANGE_BASE_URL=https://api.exchangerate.host


# ===============================
# Mobile Apps
# ===============================
COMPANY_GOOGLE_PLAY=
COMPANY_APP_STORE=